<!DOCTYPE html>
<HTML>
	<head>
		<title>Perry Dashboard</title>
		<link rel="stylesheet" type="text/css" href="..\static\dash.css">
		<link rel="stylesheet" href="..\static\jqwidgets-ver4.5.0\jqwidgets\styles\jqx.base.css" type="text/css" />
	</head>

	<BODY>
	<script src="..\static\jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\scripts\demos.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxcore.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxdata.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxdraw.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxgauge.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxbuttons.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxcheckbox.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxradiobutton.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxexpander.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxbargauge.js"></script>
    <script type="text/javascript" src="..\static\jqwidgets-ver4.5.0\jqwidgets\jqxchart.core.js"></script>
	<script type="text/javascript" src="..\static\dash.js">
	</script>

		<div id="container">
	        <div id="speed"></div>
	        <div id="RPM"></div>
		    <div id="contCurr"></div>		       	
		    <div id="packCurr"></div>
	        <div id='bargauge'></div>
	        <div id='accel'></div>
	        <div id="kwh"></div>
	        <div id="capVolt"></div>
	        <div id="ksi"></div>
	        <div id="packVolt"></div>
	        <div id="soc"></div>
	        <div id="faults" style="float: left;">
		        <div id='fault0'>
		            <div id="f0title">...</div>
		            <div>
		                <ul id="f0list">
		                </ul>
		            </div>
		        </div>
		        <div id='fault1'>
		            <div id="f1title">...</div>
		            <div>
		                <ul id="f1list">
		                </ul>
		            </div>
		        </div>
		        <div id='fault2'>
		            <div id="f2title">...</div>
		            <div>
		                <ul id="f2list">
		                </ul>
		            </div>
		        </div>
		        <div id='fault3'>
		            <div id="f3title">...</div>
		            <div>
		                <ul id="f3list">
		                </ul>
		            </div>
		        </div>
		        <div id='fault4'>
		            <div id="f4title">...</div>
		            <div>
		                <ul id="f4list">
		                </ul>
		            </div>
		        </div>
		        <div id='fault5'>
		            <div id="f5title">...</div>
		            <div>
		                <ul id="f5list">
		                </ul>
		            </div>
		        </div>
		        <div id='fault6'>
		            <div id="f6title">...</div>
		            <div>
		                <ul id="f6list">
		                </ul>
		            </div>
		        </div>
		    </div>
		    <div id="cCurr" class="label">
		    	Controller Current
		    	<p id="cCurrNum" class="valLabel"></p>
		    </div>
		    <div id="bCurr" class="label">
		    	Pack Current
		    	<p id="bCurrNum" class="valLabel"></p>
		    </div>
		    <div id="kw" class="label">
		    	KW Usage
		    	<p id="kwNum" class="valLabel"></p>
		    </div>
		    <div id="pVolt" class="label">
		    	Pack Voltage
		    	<p id="pVoltNum" class="valLabel"></p>
		    </div>
		    <div id="cpV" class="label">
		    	Capacitor Voltage
		    	<p id="cpVNum" class="valLabel"></p>
		    </div>
		    <div id="kV" class="label">
		    	KSI Voltage
		    	<p id="kVNum" class="valLabel"></p>
		    </div>
		    <div id="sc" class="label">
		    	SoC
		    	<p id="scNum" class="valLabel"></p>
		    </div>
		    <div id="speedVal"></div>
		    <div id="RPMVal"></div>
		    <div id="accelVal"></div>
		    <div id="status">System Offline.</div>
		    <div id='chartContainer' style="width: 425px; height: 250px;">
		</div>

	</BODY>
</HTML>
